@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hero-section {
  background-image: url("https://img.freepik.com/free-vector/job-hunt-concept-illustration_114360-436.jpg?w=740&t=st=1703670129~exp=1703670729~hmac=c7bfe1dc60683e34295532430cc3acd965df1f4e1267bf5558987bff4e5b2334");
}
